mat-card {
    padding: 32px;

    mat-card-content {
        padding-top: 10px;

        flex-direction: column;
        box-sizing: border-box;
        display: flex;
        place-content: stretch center;
        align-items: stretch;
        max-width: 100%;
    }
}