<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-title>Log in</mat-card-title>
        <mat-card-content fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="1.1rem"
            *ngIf="((api.mode$ | async) === ServiceMode.INITIAL)">
            <learninghouse-alert [alertType]="AlertType.warning">
                You have to change <a target="_blank" rel="noreferrer noopener"
                    href="https://github.com/LearningHouseService/learninghouse-core#security">fallback
                    password</a> to
                unlock.
            </learninghouse-alert>
            <learninghouse-alert [alertType]="AlertType.error" *ngIf="loginError$ | async">
                {{loginError$ |async}}
            </learninghouse-alert>
            <learninghouse-password name="Fallback password" [control]="old_password">
            </learninghouse-password>
            <learninghouse-password name="New password" [control]="new_password">
            </learninghouse-password>
        </mat-card-content>
        <mat-card-content fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="1.1rem"
            *ngIf="((api.mode$ | async) !== ServiceMode.INITIAL)">
            <learninghouse-alert [alertType]="AlertType.error" *ngIf="loginError$ | async">
                {{loginError$ |async}}
            </learninghouse-alert>
            <learninghouse-password name="Admin password or API key" [control]="password">
            </learninghouse-password>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-stroked-button [disabled]="!normal.valid" *ngIf="(api.mode$ | async) !== ServiceMode.INITIAL"
                (click)="submitLoginAPIKey()">API
                Key</button>
            <button mat-stroked-button color="primary" [disabled]="!normal.valid"
                *ngIf="(api.mode$ | async) !== ServiceMode.INITIAL" (click)="submitLoginAdmin()">Admin login</button>
            <button mat-stroked-button color="primary" [disabled]="!initial.valid"
                *ngIf="(api.mode$ | async) === ServiceMode.INITIAL" (click)="submitInitial()">Change password</button>
        </mat-card-actions>
    </mat-card>
</div>