<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-title>Log in</mat-card-title>
        <mat-card-content>
            <learninghouse-input name="Admin password or API key" [control]="password">
            </learninghouse-input>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-stroked-button>API Key</button>
            <button mat-stroked-button color="primary">Admin login</button>
        </mat-card-actions>
    </mat-card>
</div>