<h1>Dashboard</h1>
<div gdGap="16px" gdColumns="auto auto auto auto" gdColumns.lt-lg="auto auto auto" gdColumns.lt-md="auto auto"
    gdColumns.xs="auto">
    <ng-container *ngFor="let i of [1,2,3,4,5,6]">
        <mat-card class="mat-elevation-z4">
            <mat-card-title>Card</mat-card-title>
            <mat-card-content>
                <div>Das ist ein schöner Test</div>
                <div>Und noch einer</div>
                <div *ngIf="i%3 == 0">Und noch einer</div>
            </mat-card-content>
        </mat-card>
    </ng-container>
</div>