<mat-form-field floatLabel="always" [hideRequiredMarker]="required">
    <mat-label>{{name}}<span *ngIf="!required"> (Optional)</span></mat-label>
    <input matInput #input [type]="hide? 'password' : 'text'" [required]="required" [formControl]="control"
        [maxlength]="maxlength!">
    <mat-icon matSuffix (click)="hide=!hide">{{hide ? 'visibility_off': 'visibility'}}</mat-icon>
    <mat-error>{{showErrors()}}</mat-error>
    <mat-hint align="end" *ngIf="maxlength">{{input.value.length}}/{{maxlength}}</mat-hint>
</mat-form-field>