/* You can add global styles to this file, and also import other style files */
@use 'tailwindcss/base';

@use 'tailwindcss/components';

@use 'tailwindcss/utilities';

@use 'styles/fonts' as *;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}