<mat-toolbar color="primary" class="toolbar">
    <div>
        <button mat-icon-button (click)="layoutService.toggleNavigation()" *ngIf="layoutService.isMobile$|async">
            <mat-icon>menu</mat-icon>
        </button>
        LearningHouse Service
    </div>
    <div>
        <a mat-button *ngIf="(authService.role$ | async)" (click)="logout()">Logout ({{authService.role$ |
            async}})</a>
        <a mat-button routerLink="/auth" *ngIf="!(authService.role$ | async)">Login</a>
        <button mat-icon-button>
            <mat-icon>help</mat-icon>
        </button>
    </div>
</mat-toolbar>