<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <div>
        <button mat-icon-button (click)="layoutService.toggleNavigation()" *ngIf="media$.isActive('lt-md')">
            <mat-icon>menu</mat-icon>
        </button>
        LearningHouse Service
    </div>
    <div fxLayoutAlign="end center">
        <learninghouse-session-timer *ngIf="(this.authService.refreshTokenExpireDate$| async)"
            [expires]="(this.authService.refreshTokenExpireDate$| async)" (refresh)="refresh()" (finished)="logout()">
        </learninghouse-session-timer>
        <button mat-icon-button>
            <mat-icon>help</mat-icon>
        </button>
    </div>
</mat-toolbar>