<mat-form-field fxFlex>
    <mat-label>{{name | translate}}<span *ngIf="!required"> ({{'components.input.common.optional' | translate}})</span>
    </mat-label>
    <mat-select *ngIf="options.length > 2" [required]="required" [formControl]="control" [maxlength]="maxlength!">
        <mat-option [value]="option.value" *ngFor="let option of options">{{option.label | translate}}</mat-option>
    </mat-select>
    <learninghouse-button-group *ngIf="options.length <= 2" [formControl]="control" [required]="required"
        [options]="options">
    </learninghouse-button-group>
    <mat-icon matSuffix *ngIf="clickableSuffixIcon" (click)="clickSuffix.emit()">{{clickableSuffixIcon}}</mat-icon>
    <mat-error matListItem *ngFor="let error of errorTranslations()">{{error | translate}}</mat-error>
</mat-form-field>