<learninghouse-edit-dialog [config]="(dialogConfig$ | async)!" [state]="(state$ | async)" [form]="form">
    <learninghouse-alert *ngIf="isSuccess" [alertType]="AlertType.warning">
        <div class="learninghouse-alert-content">
            <span>{{ 'pages.auth.apikeys.messages.newapikey' | translate:
                {apikey: apikey?.key} }}</span>
            <button type="button" mat-icon-button class="clipboard"
                [matTooltip]="'common.buttons.copy_to_clipboard' | translate" [cdkCopyToClipboard]="copyToClipboard()">
                <mat-icon>content_copy</mat-icon>
            </button>
        </div>
    </learninghouse-alert>
    <learninghouse-input [name]="'pages.auth.apikeys.columns.description'" [control]="form.controls.description"
        [maxlength]="15">
    </learninghouse-input>
    <learninghouse-select [name]="'pages.auth.apikeys.columns.role'" [control]="form.controls.role"
        [options]="roleOptions">
    </learninghouse-select>
</learninghouse-edit-dialog>