<div class="container">
    <mat-dialog-content>
        {{'components.table.common.sure' | translate}}
    </mat-dialog-content>
    <mat-dialog-actions class="flex flex-row justify-center items-center content-center gap-8">
        <button mat-raised-button [mat-dialog-close]="false">
            <mat-icon>cancel</mat-icon>
            {{'components.table.actions.cancel'|translate}}
        </button>
        <button mat-raised-button color="primary" [mat-dialog-close]="true">
            <mat-icon>delete</mat-icon>
            {{'components.table.actions.delete'|translate}}
        </button>
    </mat-dialog-actions>
</div>