<div class="container">
    <div mat-dialog-title>{{config.title | translate}}</div>
    <form>
        <mat-dialog-content>
            <learninghouse-form-response [state]="state" [config]="config.responseConfig!">
            </learninghouse-form-response>
            <ng-content></ng-content>
        </mat-dialog-content>
        <mat-dialog-actions fxLayout="row"
            [fxLayoutAlign]="(config.submitButton$ | async) ? 'space-between center' : 'center center'">
            <button mat-raised-button [color]="!(config.submitButton$ | async) ? 'primary' : ''"
                (click)="actions.onClose.emit()">
                <mat-icon>close</mat-icon>
                {{'components.editdialog.buttons.close' |
                translate}}
            </button>
            <button mat-raised-button type="submit" *ngIf="(config.submitButton$ | async)" color="primary"
                [disabled]="!valid" (click)="actions.onSubmit.emit()">
                <mat-icon>{{(config.submitButton$ | async)?.icon}}</mat-icon>
                {{(config.submitButton$ | async)!.label| translate}}
            </button>
        </mat-dialog-actions>
    </form>
</div>