<mat-card>
    <mat-card-title>{{'pages.auth.password.common.title' | translate}}</mat-card-title>
    <form (ngSubmit)="submitChangePassword()">
        <mat-card-content fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="1.1rem">
            <learninghouse-form-response [state]="(state$ | async)" [config]="responseConfig">
            </learninghouse-form-response>
            <learninghouse-password [name]="'pages.auth.password.fields.old_password'"
                [control]="form.controls.api.controls.old_password">
            </learninghouse-password>
            <learninghouse-password [name]="'pages.auth.password.fields.new_password'"
                [control]="form.controls.api.controls.new_password">
            </learninghouse-password>
            <learninghouse-password [name]="'pages.auth.password.fields.confirm_password'"
                [control]="form.controls.confirm_password">
            </learninghouse-password>
        </mat-card-content>
        <mat-card-actions align="end">
            <button type="submit" mat-raised-button color="primary"
                [disabled]="!form.valid">{{'pages.auth.password.buttons.change' | translate}}</button>
        </mat-card-actions>
    </form>
</mat-card>