<learninghouse-table [title]="'pages.auth.apikeys.common.title'" [dataSource]="dataSource" [columns]="displayedColumns"
    matSort matSortActive="description" matSortDirection="asc" matSortDisableClear #sort="matSort" [add]="true"
    (onAdd)="onAdd()" (onDelete)="onDelete($event)">
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'pages.auth.apikeys.columns.description'
            |translate}} </th>
        <td mat-cell *matCellDef="let row"> {{row.description}} </td>
    </ng-container>
    <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'pages.auth.apikeys.columns.role' | translate}}
        </th>
        <td mat-cell *matCellDef="let row"> {{row.role}} </td>
    </ng-container>
    <!-- Custom row definitions to be provided to the wrapper table. -->

    <!-- Row shown when there is no matching data that will be provided to the wrapper table. -->

</learninghouse-table>