@use '@angular/material' as mat;

@include mat.core();

$md-learninghouseprimary: (
    50 : #e0f0e0,
    100 : #b3d9b3,
    200 : #80c080,
    300 : #4da64d,
    400 : #269326,
    500 : #008000,
    600 : #007800,
    700 : #006d00,
    800 : #006300,
    900 : #005000,
    A100 : #83ff83,
    A200 : #50ff50,
    A400 : #1dff1d,
    A700 : #03ff03,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-learninghouseaccent: (
    50 : #f0fff0,
    100 : #daffda,
    200 : #c1ffc1,
    300 : #a8ffa8,
    400 : #96ff96,
    500 : #83ff83,
    600 : #7bff7b,
    700 : #70ff70,
    800 : #66ff66,
    900 : #53ff53,
    A100 : #ffffff,
    A200 : #fbfffb,
    A400 : #e5ffe1,
    A700 : #d7ffd2,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-learninghousewarn: (
    50 : #f9e0e0,
    100 : #f0b3b3,
    200 : #e68080,
    300 : #db4d4d,
    400 : #d42626,
    500 : #cc0000,
    600 : #c70000,
    700 : #c00000,
    800 : #b90000,
    900 : #ad0000,
    A100 : #ff90a6,
    A200 : #ff5275,
    A400 : #ff3960,
    A700 : #ff2a54,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$learninghouse-primary: mat.m2-define-palette($md-learninghouseprimary);
$learninghouse-accent: mat.m2-define-palette($md-learninghouseaccent);
$learninghouse-warn: mat.m2-define-palette($md-learninghousewarn);

$learninghouse-theme: mat.m2-define-light-theme((color: (primary: $learninghouse-primary,
                accent: $learninghouse-accent,
                warn: $learninghouse-warn,
            ),
            typography: mat.m2-define-typography-config(),
            density: 0,
        ));

@include mat.all-component-themes($learninghouse-theme);